/*
1. Posicionamiento 
2. Modelo de caja (Box Mode) 
3. Tipografia
4. Visuales 
5. Otros
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
/* Fonts */
--font-inter: "Inter", sans-serif;
--font-dm-sans: "DM Sans", sans-serif;
 /* Colores */
--bitcoin-orange: #f7931a;
--soft-orange: #ffe9d5;
--secondary-blue: #1a9af7;
--soft-blue: #e7f5ff;
--warm-black: #282623;
--black: #201e1c;
--grey: #bababa;
--off-white: #faf8f7;
--just-white: #fff;
  /* Spaces */
--margin-center-table: calc(50% - (230px / 2));
--margin-center-plan: calc(50% - (190px / 2));
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

header {
  width: 100%;
  min-width: 320px;
  height: 450px;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
   
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 200px;
    height: 56px;
    
    margin-top: 5px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 300px;

    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {

    font-weight: 700;
    line-height: 2.2rem;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 26px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: var(--soft-orange)
}


.header__title-container .header__button {
    position: absolute;
    left: calc(50% - 120px);
    top: 400px;
    display: block;
    margin-top: 35px;
    padding: 10px;
    width: 240px;
    height: 40px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main__exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main__exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("./assets/imgs/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main__exchange-container p {
    margin-bottom: 30px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table, .main-commission-table {
  width: fit-content;
  max-width: fit-content;
  height: auto;
  font-family: var(--font-inter);
}

.main-currency-table .currency-table__title, .main-commission-table .commission-table__title {
    margin-bottom: 12px;
    margin-left: 16px;
   
    font-family: var(--font-dm-sans);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    text-align: start;
    color: var(--bitcoin-orange);
}

.main-currency-table .currency-table__title {
  color: var(--bitcoin-orange);
}

.main-commission-table .commission-table__title {
  color: var(--secondary-blue);
}


.currency-table__container, .commission-table__container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 156px;
    margin: 0 auto;
}

.currency-table__container table, .commission-table__container table {
    width: 100%;
    height: 100%;
    
}

.currency-table__container td, .commission-table__container td {
    width: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
    text-align: start;
    padding: 0 5px;
}

.currency-table__container .table--top-left, .commission-table__container .table--top-left {
  border-radius: 10px 0 0 0;
}
.currency-table__container .table--top-right, .commission-table__container .table--top-right {
  border-radius: 0 10px 0 0;
}
.currency-table__container .table--botom-left, .commission-table__container .table--botom-left {
  border-radius: 0 0 0 10px;
}
.currency-table__container .table--botom-right, .commission-table__container .table--botom-right {
  border-radius: 0 0 10px 0;
}

.currency-table__container .table--right, .commission-table__container .table--right {

  font-weight: 500;
  line-height: 1.7rem;
  text-align:left;
  color: var(--grey);
}

.currency-table__container .table--right span {
  display: inline-block;
  width: 19px;
  height: 19px;

  margin-left: 10px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table__container .down {
  background-image: url("./assets/icons/trending-down.svg");
}
.currency-table__container .up {
  background-image: url("./assets/icons/trending-up.svg");
}

.currency-table__date, .commission-table__date {

  width: fit-content;

  margin: 0 auto;
  margin-top: 16px;
  padding: 8px;;
 
  border-radius: 10px;
  }

.currency-table__date {
  background-color: var(--soft-orange);
}

.commission-table__date {
  background-color: var(--soft-blue);
}

.currency-table__date p, .commission-table__date p {
  margin: 0;

  font-size: 0.9rem;
  line-height: 1.25rem;
  color: var(--warm-black);
}
  /* ******** TABLE SLIDE START ******* */
.main-tables-container {
  width: 100%;
  height: 280px;

  display: flex;
  justify-content: space-between;

  overflow-x: scroll; /* Lo que sobresale hacerlo deslizable */
  overscroll-behavior: contain; 
  scroll-snap-type: x proximity; 
  scroll-behavior: smooth; /* Transición suave */
}

.main-currency-table, .main-commission-table {
  scroll-snap-align: center;
}

.main-currency-table {
  padding-left: var(--margin-center-table);
  margin-right: calc(var(--margin-center-table) / 2);
}

.main-commission-table {
  padding-right: var(--margin-center-table);
  margin-left: calc(var(--margin-center-table) / 2);
}

.main-tables-container .right-arrow, .left-arrow {
  width: 12px;
  height: 12px;

  position: absolute;
  margin: calc(calc(237.5px/2) - 12px) 0;
  right: 31px;

  background-image: url("./assets/icons/right-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.main-tables-container .left-arrow {
  right: 0;
  left: 31px;
  transform: rotate(180deg);
}

/* ******** TABLE SLIDE END ******* */

.main__product-detail {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 64px 0 47px 0;
  
  position: relative;

  color: var(--just-white);
  background-color: var(--warm-black);
}

.product-detail__batata-logo {
  width: 60px;
  height: 40px;

  position: absolute;
  top: -17px;
  left: calc(50% - 30px);

  background-image: url("./assets/icons/batata.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.product-detail__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;

  text-align: center;
}

.product-detail__title h2 {
  margin-bottom: 24px;

  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--white);
}

.product-detail__title p {
  margin-bottom: 32px;

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-cards__container {
  max-width: 754px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-detail__card {
  width: auto;
  min-width: 288px;
  max-width: 345px;

  padding: 16px 20px 22px 20px;
  margin: 0 16px;
  margin-bottom: 16px;

  background-color: var(--black);
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product__card-title {
  margin-bottom: 10px;
  
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: var(--off-white);
}

.product__card-body {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3rem;
  color: var(--grey)
}

.product-detail__card .icon-card {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 12px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.clock { background-image: url("./assets/icons/clock.svg"); }
.eye { background-image: url("./assets/icons/eye.svg"); }
.dollar { background-image: url("./assets/icons/dollar-sign.svg"); }
.check { background-image: url("./assets/icons/check-circle.svg"); }

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 70vh;

  /* background-image: url("https://i.postimg.cc/bJrVXk5Z/bitcoinbaby2x.jpg"); */
  background-image: url("https://i.postimg.cc/vmGtqjTM/bitcoinbaby2x.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bitcoin-img-container h2 {
  padding-top: 64px;
  
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-plans-container {
  padding-bottom: 32px;
  position: relative;
  background-color: var(--off-white);
}

.plans__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  padding: 64px 16px 28px 16px;
  text-align: center;
}

.plans__title h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--warm-black);
}

.plans__title p {
  margin-top: 24px;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--warm-gray);
}

.plans-container__slider {
  width: 100%;
  height: 400px;

  padding-top: 18px;

  display: flex;
  overflow-x: scroll;
  overscroll-behavior: contain;
  scroll-snap-type: x proximity;
}

.plans-container__card {
  width: 190px;
  min-width: 230px;
  max-width: 300px;
  height: 280px;
  margin: 0 50px 20px;
  padding: 0 15px;
  
  position: relative;
  scroll-snap-align: center;

  text-align: center;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container__card  .recommended-tag {
  width: 120px;
  height: 35px;
  padding-top: 6px;

  position: absolute;
  top: -15px;
  left: calc(50% - 60px);

  font-size: 1rem;
  font-weight: 700;
  color: var(--just-white);
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
}

.plan-card .plan-card__title {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
  padding-top: 30px;
}

.plan-card .plan-card__price {
  margin: 5px 0 0px;
  font-family: var(--font-inter);
  font-size: 5rem;
  font-weight: 700;
  color: var(--gray);
  line-height: 6.3rem;
  letter-spacing: -0.4rem;
}

.plan-card__price span {
  margin: 8px 0;

  position: relative;
  top: -35px;

  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: normal;
}

.plan-card .recommended-price {
  color: var(--black);
}

.plan-card .plan-card__body {
  margin-bottom: 16px;
  
  font-family: var(--font-inter);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--warm-gray);
}

.plan-card .plan-card__button {
	width: 150px;
  height: 48px;

  padding: 0 16px;
  
  font: var(--font-dm-sans);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;

	color: var(--gray);
  background-color: var(--off-white);
  
  border: 2px solid var(--bitcoin-orange);
  border-radius: 4px;

	outline: inherit;
	cursor: pointer;
}

.plan-card .recommended-button {
  color: var(--warm-black);
  border-color: var(--orange);
}

.plan-card__button span {
  width: 19px;
  height: 19px;
  
  float: right;
  
  background-image: url("./assets/icons/orange-right-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.plan-card__button .recommended-arrow {
  background-image: url("./assets/icons/orange-right-arrow.svg");
}

.plans-container__slider .right-arrow-gray, .left-arrow-gray {
  width: 14px;
  height: 14px;

  position: absolute;
  top: calc(50% - -62px);
  right: 31px;

  background-image: url("./assets/icons/right-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.plans-container__slider .left-arrow-gray {
  transform: rotate(180deg);
  right: 0;
  left: 31px;
}
/*
.monthly {
  margin-left: var(--margin-center-plan);
  margin-right: calc(var(--margin-center-plan) / 5);
}

.always {
  margin-left: calc(var(--margin-center-plan) / 5);
  margin-right: var(--margin-center-plan);
  
} Algunos ajustus para evaluar performace*/

footer {
  width: 100%;
  padding: 40px 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bitcoin-orange);
}

footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.footer__social-container .social {
  list-style: none;
}

.social li {
  margin-bottom: 8px;

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.social a {
  color: var(--just-white);
  text-decoration: none;
}

.footer__logo img {
  width: 64px;
}